<h1>Welcome to the dashboard</h1>
<% if !@fpl_account %>
  <%= form_with url: fpl_accounts_url do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username, autocomplete: "off" %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.text_field :password, autocomplete: "off" %>
    </p>
    <p>
      <%= f.submit "add FPL Account" %>
    </p>
  <% end %>
<% end %>
