
<div class="wrapper-page">
  <h2 class="edit-user-header">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="profile-input">
    <% if current_user.profile %>
      <%= image_tag current_user.profile.avatar.variant(resize_to_limit: [200, 200]),
                      style: "border-radius: 100%; object-fit: cover;",
                      width: 200, height: 200 %>
      <% else %>
        <div class="new-img-profile"></div>
    <% end %>
    <%= form_with url: profile_url do |form| %>
      <%= form.file_field :avatar %>
      <%= form.submit %>
    <% end %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container-account">
     
      <div class="field-edit field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field-edit field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field-edit field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="field-edit field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="to-update actions">
        <%= f.submit "Update" %>
    </div>
  <% end %>
  <div class="danger-zone">
    <% if current_user.fpl_account %>
      <%= button_to "Delete FPL Account",
          fpl_account_url, method: :delete,
          data: { confirm: "Are you sure?"} %>
    <% end %>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete  %>
    </div>
  </div>
</div>
