  <div class="wrapper">
    <div class="wrapper-header">
      <div class="container-header">
        <div class="wrapper-intro-text">
          <div class="h1"><h1>PURPOSE</h1></div>           
          
          <div class="purpose-text">
          Our mission is to educate and motivate people to effectively reduce the energy consumption in their homes and/or properties in an interactive way. We believe working with one another will bring us closer to create a wave of awareness to work towards living greener lives and fully understanding the importance of using our energy wisely. Doing so will allow us to lessen financial strain while also being mindful of our planet. We believe it’s vital for us to unite and help stop climate change for the health and well-being of both the people and our environment.
          </div>        
        </div>
        <div class="about-img">
          <%= image_tag "first.png", :class => "world" %>
          <div class="effect-img"><%= image_tag "sun.png", :class => "sun" %></div>
          <div class="effect-img"><%= image_tag "cloudslight.png", :class => "clouds" %></div>
          <div class="effect-img"><%= image_tag "clodusdark.png", :class => "clouds" %></div>
        </div>
      </div>
    </div>
  <div class="wrapper-team">
    <div class="team-intro">
      <h1>TEAM</h1>
    </div>
      <div class="each-person" id="andres">
        <%= image_tag "AndresMejias.png", :class => "person-img" %>
        <div class="each-info-person">      
          <h3>Andres Mejias</h3>
          <i class="fas fa-quote-left"></i>
          <span>
          I have always liked to learn and I found the industry where you never stop learning, I am excited about every line of code I write because I know that behind each of them there is a teaching. I hope to make a difference in the field of technology and contribute to its growth.
          <i class="fas fa-quote-right"></i>
          </span>
        </div>
      </div>

      <div class="each-person" id="aileen">
        <%= image_tag "AileenArcia.png", :class => "person-img" %>
        <div class="each-info-person">      
          <h3>Aileen Arcia</h3>
          <span>
          <i class="fas fa-quote-left"></i>
          I enjoy the creative and progressive aspects to technology and the way it  enhances peoples lives. I am constantly looking for challenges to grow while remaining diligent, passionate and becoming the best at my art.
          <i class="fas fa-quote-right"></i>
          </span>
        </div>
      </div>

      <div class="each-person" id="genny">
        <%= image_tag "GennyMoise.png", :class => "person-img" %>
        <div class="each-info-person">      
          <h3>Genny Moise</h3>
          <span>
          <i class="fas fa-quote-left"></i>
          I have the ability to combine traditional engineering concepts and hope to apply it to the business world from a web development perspective. There are endless opportunities and I aspire to make great impact in the field.
          <i class="fas fa-quote-right"></i>
          </span>
        </div>
      </div>

      <div class="each-person" id="james">
        <%= image_tag "JamesKemp.png", :class => "person-img" %>
        <div class="each-info-person">      
          <h3>James Kemp</h3>
          <span>
          <i class="fas fa-quote-left"></i>
          I have always had a passion for finding solutions for difficult problems. I chose to jump into this industry to be at the forefront of pushing technologies forward and building a better world.
          <i class="fas fa-quote-right"></i>
          </span>
        </div>
      </div>
      <div class="each-person" id="andy">
        <%= image_tag "AndyWeiss.png", :class => "person-img" %>
        <div class="each-info-person">      
          <h3>Andy Weiss</h3>
          <span>
          <i class="fas fa-quote-left"></i>
          I have an an extensive background and experience in both education and web development. I am currently the head instructor at Wyncode Academy, where I get to combine my two passions in life.
          <i class="fas fa-quote-right"></i>
          </span>
        </div>
        