<div class="wrapper-page">
  <h1  class="first-big-title">Welcome, <%= current_user.email %></h1>
  <hr>
  <% if current_user.fpl_account %>
    <%= react_component 'Dashboard' %>
    <%= button_to "Sync Account",
        fpl_account_sync_path, method: :post, remote: true %>
    <% if current_user.fpl_account.syncs.any? %>
      <p>Last synced <%= time_ago_in_words current_user.fpl_account.syncs.last.created_at %> ago</p>
    <% end %>
  <% else %>
    <h1>Connect your FPL Account</h1>
    <%= form_with url: fpl_account_url do |f| %>
      <p>
        <%= f.label :username%>
        <%= f.email_field :username, autocomplete: "off", value: current_user.email %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </p>
      <p>
        <%= f.submit "Add FPL Account" %>
      </p>
    <% end %>
  <% end %>
</div>
