<% if !user_signed_in? %>
  <nav class="landing-navbar">
    <h1>GreenLink</h1>
    <ul>
      <button><%= link_to "Sign In", new_user_session_path %></button>
    </ul>
  </nav>
<% end %>
<% if user_signed_in? %>
  <nav class="navbar">
    <ul>
      <li><%= link_to "Dashboard", dashboard_url, class: "navbar-logo" %></li> 
      <li><%= link_to "Challenges", challenges_url %></li>
      <li><%= link_to "Tips", tips_url %></li>
    </ul>
    <div class="user-account">
      <ul>
        <li><%= current_user.email %></li>
        <li><%= link_to "Account", edit_user_registration_url %></li>
        <li><%= link_to "Sign Out", destroy_user_session_url, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% end %>
